@charset "utf-8" ;

body{
background-color:white;
text-align:center;
font-size:medium;
color:#333;
font-family: 'Sofia', cursive;
}

#container{
background-color:white;
width:960px
margin:0 auto;
text-align:middle;
background-color:white;

}

#content{
background-color:#E0FFFF;
text-align: middle;
padding:10px;
margin:10px;

}

#hnav{
text-align:middle;
border: double;
border-radius: 5px;
display: inline;
}


#homepage{
background-image: url("Images/hi.jpg");no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-color:white;
width:960px
margin:0 auto;
text-align:middle;
background-color:white;

}
